.add-friend-container {
  display: flex;
  flex-direction:row;
  align-items: left;
  justify-content: top;
  margin-top: 50px;
  height: 20vh;
  width: 250px;
}

form {
  text-align:left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 150%;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.add-friend-button {
  background-color: #047620;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-friend-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}