<!-- <div class="add-friend-container">
    <form autocomplete="off" [formGroup]="addFriendForm" (ngSubmit)="onSubmit()">
        <div class="formGroup" >
            <label for="nickname">Agregar Amigos:</label>
            <input type="text" formControlName="nickname" placeholder="Ingrese el nickname de un usuario">

        </div>
        <button type="submit" [disabled]="addFriendForm.invalid" class="add-friend-button">Agregar</button> 
    </form>
</div> -->

<div class="add-friend-container">
    <form autocomplete="off">
        <label> Agregar Amigos:</label>
        <input [(ngModel)]="nickname" name="searchInput" 
        (input)="filterSearch()" type="search" placeholder="Ingrese el nickname de un usuario">
        <div *ngIf="nickname.length>0" class="results">
            <ul>
                <li *ngFor="let user of searchResults"> 
                {{user.nickname}} ({{user.first_name}} {{user.last_name}})
                </li>
            </ul>
    
        </div>
        <div *ngIf="nickname.length == 0">
            <span></span>
        </div>
    </form>

</div>

<!-- <div class="add-friend-container">
    <form autocomplete="off" [formGroup]="addFriendForm" (ngSubmit)="onSubmit()">
        <div class="formGroup" >
            <label for="nickname">Agregar Amigos:</label>
            <input type="text" formControlName="nickname" (input)="search($event)" 
            placeholder="Ingrese el nickname de un usuario">
            
        </div>
        <div>
            <ul>
                <li *ngFor="let user of users$ | async"> 
                    <button type="submit" [disabled]="addFriendForm.invalid" class="add-friend-button">
                        {{user.nickname}} ({{user.first_name}} {{user.last_name}})
                    </button>
                </li>
            </ul>
        </div>
         
    </form>
</div> -->
