<div class="landing-page">
    <div class="landing-header">
        <h1>Bienvenido a Regalito</h1>
        <p>La app para hacer el regalo perfecto</p>
        <button id="btn-start" (click)="redirectMeli()">Comenzar</button>
    </div>
    

  
    <div class="landing-main">
        <section>
            <div>
                <label>Primeros Pasos</label>
                <p>Conecta tu cuenta de Mercado Libre</p>
                <p>Traemos tus favoritos para que puedas armar tus propias Wishlists!</p>
                <p>Haz amigos dentro de Regalito</p>
                <p>Descubre el regalo perfecto para tus amigos</p>
            </div>
        </section>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
        
</div>