/* Estilos generales */
.landing-page {
  font-family: Arial, sans-serif;
  text-align: center;
}
  
  /* Estilos del encabezado */
.landing-header {
  background-color: #003D29;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
  
.landing-header h1 {
  font-size: 36px;
}
  
.landing-header p {
  font-size: 18px;
  margin-bottom: 20px;
}
  
.landing-header button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

label {
  font-weight: bold;
  font-size: 150%;
}
  
.landing-header button:hover {
  background-color: #54c6a0;
}

.landing-main{
  margin-top: 300px;
  font-size: 18px;
}
  
