<p>home-page works!</p>
<button (click)="fetchUser()"> pedir usuario</button>

<app-nav-bar></app-nav-bar>
<div class="gridLayaout">
    <div class="box b1">
        <app-side-bar></app-side-bar>
    </div>
    <div class="box b2">
        <app-carousel-fav></app-carousel-fav>
    </div>
    <div class="box b3">
          <button class="wishlist-card">
            <h2>Wishlist</h2>
            <img src="https://www.digitalsport.com.ar/files/products/624b1bc16431e-565339-500x500.jpg">
            
          </button>
    </div>
</div>
