
  a{
    cursor: pointer;
  }
  
  .navbar {
    background-color: #003D29;
    color: #fff;
    display: flex;
    max-width: auto;
    max-height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    border-bottom: 2px solid #fff;
  }