a {
  cursor: pointer;
}

.navbar {
  background-color: #003D29;
  color: #fff;
  display: flex;
  max-width: auto;
  max-height: auto;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  /* Mueve los elementos al final del contenedor */
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-links a:hover {
  border-bottom: 2px solid #fff;
}

.home {
  margin-left: 20px;
  /* Añade margen izquierdo para la separación */
}

.imgHouse {
  width: 40px;
  height: 40px;
}

.imgRegalito {
  width: 35px;
  height: 35px;
}