@tailwind base;
@tailwind components;
@tailwind utilities;
/* En tu archivo de estilos (por ejemplo, styles.css) */
.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.wishlist-card {
  flex: 0 0 calc(30% - 20px); /* Ajusta el ancho de cada tarjeta según tus necesidades */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #003D29;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  margin: 10px 15px;

}

.wishlist-card:hover {
  transform: scale(1.05);
}

.wishlist-card img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
}

.wishlist-card h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}


/*SLIDES*/

.swiper-container{
  width: 1500px;
}

.swiper-container .imagen{
    width: 120px;
    height: 100px;
    border-radius: 5px;
    margin-left: 35px;
    
}

.swiper-slide{
    width: 180px !important;
    height: 250px;
    margin: 45px 20px;
    background-color: white;
    border: 1.5px solid #003D29;
    padding: 0.4%;
    border-radius: 5px;
    text-align: center;
}
.nombre{
  margin: 15px 0px;
}
.precio{
  margin: 10px 0px;
}

.boton-back {
  padding: 10px 15px; 
  font-size: 16px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.boton-back:hover {
  background-color: #0056b3; 
}
.masContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.masContainer:hover {
  background-color: #003D29;
  color: white;
}

.masImg {
  width: 20px;
  height: 20px;
  margin-left: auto !important; 
  margin-right: auto!important;
}
.deleteImg{
  width: 30px;
  height: 30px;
  float: right;
  border-radius: 50px;
  border: 2px solid red;
}
.deleteWhislist{
  width: 30px!important;
  height: 30px!important;
  border-radius: 50px;
  border: 2px solid red;
}
.delete-button {
  background-color: #ff5757; /* Color de fondo */
  color: #fff; /* Color del texto */
  width: 70px;
  height: 50px;
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, color 0.3s; /* Transición suave de colores */
}

.delete-button:hover {
  background-color: #d63737; /* Cambia el color al pasar el ratón */
}

/* Estilos CSS */
/*
.d-flex {
  display: flex;
  flex-wrap: wrap;
}



.card {
  width: 15rem; 
  margin: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.card-img-top {
  width: 150px;
  height: 120px;
  margin-left: 50px;
  border: 4px solid ;
}

.card-body {
  padding: 10px;
  text-align: center;
}


.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  color: #555;
}

.boton-back {
  padding: 10px 15px; 
  font-size: 16px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.boton-back:hover {
  background-color: #0056b3; 
}

.masContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.masContainer:hover {
  background-color: #003D29;
  color: white;
}

.masImg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
*/

