<h2>Wishlists</h2>
<button class="masContainer">
  Add new wishlist
  <img src="https://www.pngarts.com/files/3/Plus-Symbol-Transparent-Images.png" class="masImg">
</button>

<button (click)="deleteWishList(0)">
  borrar wishlist
</button>
<ng-container *ngIf="view === true">
  <div class="wishlist-container">
    <ng-container *ngFor="let prod of whislists">
      <button class="wishlist-card" (click)="seeWishList(prod)">
        <img src="{{prod.products[0].imagen_url}}" >
        <h3>{{prod.nombre}}</h3>
      </button>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="view === false">
  <swiper-container class="swiper-container" loop="true" autoplay="true" slides-per-view="auto">
    <swiper-slide *ngFor="let item of whislistItem?.products" class="swiper-slide">
      <ng-container>
        <div>
          <app-regalito-page></app-regalito-page>
        </div>
      </ng-container> 
      <img [src]="item.imagen_url" class="imagen">
        <div class="nombre"><h3><b>{{item.nombre}}</b></h3></div>
        <div class="precio"><b>${{item.precio}}</b></div>
        <div class="descripcion">{{item.descripcion}}</div>
    </swiper-slide>
    
</swiper-container>
<div>
  <button class="boton-back" (click)="change()">Back</button>
  </div>
</ng-container>


