

<ng-container *ngIf="form === false">
  <button class="masContainer" (click)="form = true" *ngIf="isUserView === false">
      Nueva Wishlist  
      <img src="https://www.pngarts.com/files/3/Plus-Symbol-Transparent-Images.png" class="masImg">
    </button>
</ng-container>

<ng-container *ngIf="form === true">
  <form action="" class="form-inline">
    <label class="form-label">Nombre de Wishlist</label>
    <input type="text" [formControl]="nameForm" class="form-input">
    <button [disabled]="nameForm.invalid" class="form-button" (click)="newWishlist()">Crear Wishlist</button>
    <button class="back-button" (click)="form = false">Atrás</button>
    <span class="error-box" [hidden]="nameForm.valid">
      <span *ngIf="nameForm.errors?.['required']" class="error-message">
        No puede estar el campo vacío.
      </span>
      <span *ngIf="nameForm.errors?.['minlength']" class="error-message">
        Debe tener más de 2 caracteres.
      </span>
      <span *ngIf="nameForm.errors?.['maxlength']" class="error-message">
        Debe tener menos de 20 caracteres.
      </span>
    </span>
  </form>
</ng-container>


<ng-container *ngIf="view === true">
  <div class="wishlist-container">
    
    <ng-container *ngFor="let prod of whislists">
      <div class="wishlist-card" (click)="seeWishList()">
        <span class="card" (click)="getItemsWishlist(prod)">
        <img src="https://img.freepik.com/fotos-premium/caja-regalo-3d-sobre-fondo-blanco-aislado-cumpleanos-celebracion-embalaje-3d_742252-2380.jpg" >
        <h3>{{prod.nombre}}</h3>
        </span>
      </div>
      <button *ngIf="isUserView === false" class="delete-button" (click)="deleteWishList(prod.id!)">Borrar Wishlist</button>
    </ng-container>
  
  </div>
</ng-container>
<ng-container *ngIf="view === false">
  <swiper-container class="swiper-container">
    <swiper-slide *ngFor="let item of whislistItem?.products" class="swiper-slide">
      <button *ngIf="isUserView === false">
        <img
          src="https://cdn2.iconfinder.com/data/icons/thin-line-color-1/21/33-512.png"
          class="deleteImg" (click)="deleteProductWishList(item)">
      </button>
      <img [src]="item.imagen_url" class="imagen">
      <div class="nombre">
        <h3><b>{{item.nombre}}</b></h3>
      </div>
      <div class="precio"><b>${{item.precio}}</b></div>
      <div class="descripcion">{{item.descripcion}}</div>
      <ng-container *ngIf="isUserView ===true">
        <div>
          <button class="regalar-button" (click)="emitRegalito(item)">
              <img class="img-regalar" src="\assets\regalito2.png">Regalar</button>
        </div>
      </ng-container>
    </swiper-slide>

  </swiper-container>
  <div>
    <button class="boton-back" (click)="change()">Back</button>
    <span *ngIf="regalar===true" class="enviado"> Regalito enviado!</span>
    
  </div>
  

</ng-container>